

#the_matches_paper {
	position: absolute;
	z-index: 100 !important;
	border-radius: 20px;
	max-height: 200px;
	height: 200px;
	width: 340px;
	display: none;
	overflow-y: auto;
	overflow-x: hidden;
}

.the_match_row {
	border: 1px solid gray;
}

.video_image {
	border-radius: 6px;
	height: 41px;
	width: 74px;
}

.winner_name {

}

.loser_name {
	color: gray;
}

.winner_score {

}

.loser_score {
	color: gray;
}

.video_duration {
	position: absolute;
	bottom: 5px;
	right: 3px;
	font-size: 10px;
	background-color: rgba(0,0,0,0.6);
}

.video_container {
  position: relative;
  text-align: center;
  color: white;
}

.tourny_header {
	height: auto;
	text-align: center;
	vertical-align: middle;
	font-size: 30px;
}



